[Desktop Entry]
Name=Powermenu
Name[zh_CN]=电源菜单
Comment=Power menu with shutdown, reboot, suspend options
Exec=~/.config/rofi/powermenu.sh
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;Utility;