[Desktop Entry]
Name=Powermenu
Name[zh_CN]=电源
Comment=Power menu with shutdown, reboot, suspend options
Exec=rofi -show power -modi power:~/.config/rofi/powermenu.sh
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;Utility;