[Desktop Entry]
Name=Rofi
Comment=Launch applications with rofi
Exec=rofi -show run -config ~/.config/rofi/config.rasi
Icon=rofi
Terminal=false
Type=Application
Categories=Utility;Launcher;